.app {
color: black;
width: 100%;
background-color: rgb(76, 85, 94);
font-size: 2.0rem;
font-weight: bold;
min-height: 55px;
position: fixed;
z-index: 5;
}
.nav {
  display: flex;
  }
.gap {
  flex: 1.5;
}
.logo {
  margin-top: 5px;
  margin-left: 20px;

}
a {
  text-decoration: none;
  color: black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  padding:12px 30px;
 }
a:hover {
  color: red;
}
a:active {
  text-decoration: underline;
}
header {
  background-image: url('../background.jpg');
  position: relative;
  top: 60px;
  padding-bottom: 30px;

}
h1 {
  color: rgb(239, 14, 14);
  margin-top: 0px;
  font-size: 3rem;
}
.section {
  display: flex;
  position: relative;
}
.article {
  width: 100%;
  height: auto;
  background-color: rgb(250, 253, 253) ;
  justify-content: space-around;
  font-size: 1.3rem;
  padding: 10px;
  text-align: justify;
  border: 0.3px dashed black;
  letter-spacing: 1.5px;
}
footer {
  background-color: rgb(56, 63, 70);
  font-size: 1rem;
  padding: 5px;
  color: wheat;
}
.spacer {
  display: flex;
  justify-content: space-around;
}
.status {
  position: relative;
  top:60px;
  background-image: url(../background.jpg);

}
.falcon {
  width: 250px;
  border: 2px solid rgb(21, 8, 36);
  border-radius: 100%;
  
  
}
.light {
  width: 250px;
  border: 2px solid rgb(21, 8, 36);
  border-radius: 100%;

}
figurecaption {
  color: rgb(17, 224, 114);
  font-size: 2rem;
}
p {
  color: white;
  font-size: 3rem;
}
