.app {
color: black;
width: 100%;
background-color: rgb(108, 202, 117);
min-height: 50px;

}
img.logo {
  float: left;
  margin:15px 20px;
 
}
.nav {
  display: flex;
  justify-content: flex-end;
  font-size: 2.2rem;
  font-weight: bold;
  
 
  
  
}
a {
  text-decoration: none;
  color: black;
  margin: 5px 20px;
  border-left: 1px dotted black;
  padding: 10px;
  
}
a:hover {
  color: red;
}
a:active {
  text-decoration: underline;
}