.status {
    display: flex;
    position: relative;
    top:60px;
    background-image: url(../../Assets/Images/background.jpg);
    flex-direction: column;
  }
  .status__space {
    margin-top: 20px; 
  }
  .status__description {
    color: red;
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    width: 27%;
  }
  #status__falcon {
    width: 23%;
    border-radius: 50%;
    margin: 0 30px;
    border: 1px solid gray;
    cursor: pointer;
    padding: 10px;
    order: 2;
  }
  #status__light {
    width: 23%;
    border-radius: 50%;
    margin: 0 30px;
    border: 2px solid gray;
   cursor: pointer;
   padding: 10px;
   order: 1;
  }
  @media (max-width: 800px) {
    #status__falcon {width: 30%;}
    #status__light {width: 30%;}
  }
  @media (max-width:540px) {
    .status__space {margin-top: 0; }
    .status__description {font-size: 2rem;}
    p {font-size: 2rem}
    .home__article {font-size: 1.2rem;}
    #status__falcon {width: 33%; margin: 0}
    #status__light {width: 33%; margin: 0}
  }
  @media (max-width:340px) {
    .app {font-size: 1.5rem;}
    a {padding-top: 15px;border: none;}
    .status__space {margin-top: 0;}
    .status__description {font-size: 1rem;}
    h1 {font-size: 2.2rem;}
    .home__article {font-size: 1.0rem;}
    #status__falcon {width: 38%;}
    #status__light {width: 38%;}
  }
  @media (max-width:310px) {
    .app__logo {display: none;}
    .status__space {margin-top: 0;}
    span {font-size: 2.5rem;}
    #app__link {padding: 0 0;}
    h1 {font-size: 1.5rem;}
    p {font-size: 1.5rem;}
    .home__article {font-size: 0.8rem;columns: 2;}
    #status__falcon {width: 43%;}
    #status__light {width: 43%;}
    
  }
  @media (max-width:220px) {
    .app {font-size: 1.5rem;}
    #app__link {padding: 0 0;}
    p {font-size: 1rem;}
    span {font-size: 2rem;}
    a {padding: 10px; margin-left: 20px;}
    .home__article {columns: 1;}
    #status__falcon {width: 50%;}
    #status__light {width: 50%;}
  }
  